@model InClass2_Exercise_API.Models.PersonModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserActionTab</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 1px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 0px solid #ccc;
            }

        input[type=text], select {
            width: 150px;
        }
    </style>
</head>
<body>
    @{
        ViewData["Title"] = "User Action Assignment";
    }
    <h1>@ViewData["Title"]</h1>
    <h2>Assignment:Razor form</h2>
    <h4>This Page accepts data from users and upon submition sends back a response.</h4>

    <form asp-action="UserAction" method="post">
        <p>
            <label asp-for="Name">Your name:</label>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="City">Your City:</label>
            <input asp-for="City" />
        </p>
        <p>
            <label>Will you attend in Person?</label>
            <select asp-for="Attending">
                <option value="">
                    Choose an option
                </option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
            </select>
        </p>
        <button type="submit">Submit Response</button>
    </form>


</body>
    </html>
